/* CSS Document */

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
}

header, footer {
	background: darkseagreen;
	color: white;
	text-align: center;
	padding: 20px;
}

h1 {
	font-size: 50px;
	font-family: 'Hanalei', cursive;
}

h2 {
	
	font-size: 30px;
}

li {
	display: inline-block;
	background: darkseagreen;
	padding: 15px 30px;
	margin-top: 20px;
}
nav {
	text-align: center;
}

a {
	color: #305030;
}

nav a {
	text-decoration: none;
	font-size: 20px;
}

nav a:hover {
	color: white;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding: 15px;
}

.content-wrap {
	width: 900px;
	margin: 0 auto;
}

.section-border {
    border: thick solid darkseagreen;
	padding: 20px;
	margin: 20px 0;
}

footer a {
	display: inline-block;
	background: #396039;
	color: white;
	padding: 20px;
	text-decoration: none;
	margin: 20px;
}